@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  font-size: 18px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
